
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ajusta según el diseño */
    background: rgba(233, 233, 233, 0.896);
    z-index: 1000; /* Asegura que esté sobre todo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .btn1{
    background-color: #ffc82f;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
  }

  .btn1:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
    cursor: pointer;
    border: 1px solid black;
  }
  
  .loginInput{
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }